.items-container {
    background-color: aqua;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em 0;
    
}

@media only screen and (min-width: 992px) {
    .items-container {
        height: 90vh;
    }
}